


html   {
    box-sizing: border-box;
    margin:0;
}

body   {
    background: linear-gradient(180deg, rgb(182, 159, 97), rgb(128, 89, 24)) fixed;
    height: 100%;
    overflow-anchor: none;
    margin:0;
}

.container  {
    position: relative;
    top: 20em;
    width: 50em;
    height: 90em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5em double white;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 1em;
    background:rgb(59, 59, 59);

}
.image {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 30%;
    height: 17%;
    left:35%;
    border-radius: 10%;
    border: 0.6em double white;
    background: linear-gradient(to bottom, white, black);
    background-size: fill;
    background-origin: border-box;
    box-shadow: 0 0 0px black;
    animation: expand 1s forwards, Down 0.75s 0.5s forwards, Up 1s 0.9s forwards;
    transform: scale(0.01);
    transition: 0.3s;
}

.image:hover {
    width: 11.5em;
}

.content {
    position: absolute;
    width: 99%;
    height: 99.5%;
    box-sizing: border-box;
    background: rgb(29, 29, 29);
    border: double 0.2em transparent;
    border-radius: 0.5em;
    background-image: linear-gradient(rgb(26, 26, 26), rgb(26, 26, 26)), linear-gradient(to bottom, orange, gold);
    background-origin: border-box;
    background-clip: content-box, border-box;
    
}

.underline  {
    position: absolute;
    top: 2.0em;
    border-top: 1.4em solid white;
    border-bottom: 1.4em solid white;
    border-left: 1.4em solid transparent;
    border-right: 1.4em solid transparent;
    opacity: 0;
    animation: appear 0.9s 1.4s forwards, extend 1s 2.2s forwards;
    z-index: 1;
}

.recipe {
    position: absolute;
    top: 0.5em;
    margin-top: 1em;
    font-size: 2.7em;
    color: goldenrod;
    font-family: "Yuji Mai";
    font-weight: normal;
    opacity: 0;
    animation: recipeAppear 1s 3s forwards;
    z-index: 2;
}

.description {
    
    position: relative;
    margin: 10em auto 0 auto;
    color: white;
    width: 90%;
    font-family: "Amethysta";
    opacity: 0;
    animation: fadeIn 2s 3.5s forwards;
    line-height: 1.5em;

}


.ingredient-container, .step-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
}

h2 {
    position: absolute;
    top: 4.5em;
    left: 10em;
    font-size: 1.5em;
    font-family: "Yuji Mai";
    opacity: 0;
    animation: fadeIn 1s 5s forwards;
    color:darkorange;
}
 h3 {
    position: absolute;
    font-size: 1.5em;
    font-family: "Yuji Mai";
    top: -2em;
    opacity: 0;
    animation: fadeIn 1s 5s forwards;
    color:darkorange;
}

.ingredients-list {
    color: white;
    font-family: "Amethysta";
    line-height: 1.4em;
    margin: 0.5em 0 1em 0;
    opacity: 0;
    animation: fadeIn 2s 5.5s forwards;
    width: 30%;
}

.steps {
    color: white;
    font-family: "Amethysta";
    opacity: 0;
    margin-top: 1em;
    animation: fadeIn 2s 5.5s forwards;
    width: 90%;
}

.steps li {
    margin-bottom: 1em;
}
.bold {
    font-weight: 800;
 }

 .right {
    float: right;
 }



@keyframes expand {
    from {transform: scale(0.01)} to {transform: scale(1)};
}
@keyframes Down {
    100% {top: 19em};
}
@keyframes Up {
    100% {top: -15em};
    from {box-shadow: 0 0 0px black} to {box-shadow: 0 0 2.5em black};
}
@keyframes appear {
    from {opacity: 0} to {opacity: 1};
    from {margin-top: 0em} to {margin-top: 2em};

}
@keyframes extend {
    from {width: 0%} to {width: 70%};
}
@keyframes recipeAppear{
    from {margin-top: 0em} to {margin-top: 1em};
    from {opacity: 0} to {opacity: 1};
}
@keyframes fadeIn {
    from {opacity: 0} to {opacity: 1};
}

@font-face {
    font-family: "Yuji Mai";
    src: url(resources/yujiMai.ttf);   
}
@font-face {
    font-family: "Comfortaa";
    src: url(resources/comfortaa.ttf);   
}
@font-face {
    font-family: "Arvo";
    src: url(resources/arvo.ttf);
}
@font-face {
    font-family: "Amethysta";
    src: url(resources/amethysta.ttf)
}